{% extends 'template.html' %}
{% load icons %}
{% block body %}
<br />
<div class='text-center h1 text-dark'> Lista de clientes </div>
<a href={% url 'evento:cliente-create' %}> {% icon 'create' %} Nuevo prospecto </a>
<table class="table table-striped">
    <tr>
        <th>Nombre del Cliente</th>
        <th>Eliminar</th>
    </tr>
    {% for cliente in cliente_list %}
    <tr>
        <td>{{ cliente.name }}</td>
        <td><a href={% url 'evento:cliente-delete' pk=cliente.pk %}> {% icon 'delete' %}</a> </td>
    </tr>
    {% endfor %}

</table>
{% endblock body %}