{% extends 'template.html' %}
{% load icons %}
{% block body %}
<br />
<div class='text-center h1 text-dark'> Lista de Platillos </div>
<a href={% url 'evento:producto-sync' %}> {% icon 'create' %} Sincronizar </a>
<table class="table table-striped">
    <tr>
        <th>Platillo</th>
        <th>Plata</th>
        <th>Oro</th>
        <th>Platino</th>
        <th>Premium</th>
        <th>Entrada</th>
        <th>Sopa/Crema</th>
        <th>Sorbete</th>
        <th>Plato Fuerte</th>
        <th>Postre</th>
        <th>Guarnicion</th>
        <th>Tornafiesta</th>
    </tr>
    {% for producto in producto_list %}
    <tr>
        <td>{{ producto.name }}</td>
        <td>
            {% if producto.plata %}
            {% icon 'check' %}
            {% else %}
            {% icon 'times' %}
            {% endif %}
        </td>
        <td>{% if producto.oro %}
            {% icon 'check' %}
            {% else %}
            {% icon 'times' %}
            {% endif %}</td>
        <td>{% if producto.platino %}
            {% icon 'check' %}
            {% else %}
            {% icon 'times' %}
            {% endif %}</td>
        <td>{% if producto.premium %}
            {% icon 'check' %}
            {% else %}
            {% icon 'times' %}
            {% endif %}</td>
        <td>{% if producto.entrada %}
            {% icon 'check' %}
            {% else %}
            {% icon 'times' %}
            {% endif %}</td>
        <td>{% if producto.crema %}
            {% icon 'check' %}
            {% else %}
            {% icon 'times' %}
            {% endif %}</td>
        <td>{% if producto.sorbete %}
            {% icon 'check' %}
            {% else %}
            {% icon 'times' %}
            {% endif %}</td>
        <td>{% if producto.fuerte %}
            {% icon 'check' %}
            {% else %}
            {% icon 'times' %}
            {% endif %}</td>
        <td>{% if producto.postre %}
            {% icon 'check' %}
            {% else %}
            {% icon 'times' %}
            {% endif %}</td>
        <td>{% if producto.guarnicion %}
            {% icon 'check' %}
            {% else %}
            {% icon 'times' %}
            {% endif %}</td>
        <td>{% if producto.tornafiesta %}
            {% icon 'check' %}
            {% else %}
            {% icon 'times' %}
            {% endif %}</td>
    </tr>
    {% endfor %}

</table>
{% endblock body %}