<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href={% static 'css/login.css' %}>
    <title>Polaris | Inicio de Sesión</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <img src={%static 'img/logotipo_polaris.png'%} class="logotipo" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Inicio de sesión</h5>
                    <p class="card-text">
                        <form method="post" action="/auth">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Nombre de usuario</label>
                                <input type='text' id='username' name='username' placeholder='Nombre de usuario'
                                    class='form-control' />
                            </div>
                            <div class="form-group">
                                <label for="passwd">Contraseña</label>
                                <input type='password' id='passwd' name='passwd' placeholder='Contraseña'
                                    class='form-control' />
                            </div>
                            <button class="btn my-3 btn-lg btn-success" >Iniciar Sesión</button>
                        </form>
                    </p>
                </div>
                <div class="card-footer">
                    OpenTechMX | Polaris V1.0
                </div>
            </div>
        </div>
    </div>
</body>
</html>