$primario: #c39746;
$secundario: #af8942;
$hover: #a07d3c;
$disabled: rgb(156, 150, 150);
$input_margin: 0%;
$input_width: 100%;
$label_width: 40%;
$input_border: 2px;
$input_border_radius: 4px;


.h5{
    color: $hover;
    font-size: 28px !important;
}

.text-secondary{
    color: $secundario !important;
}

.btn-primary {
    background-color: $primario;
    border-color: $secundario;
}

.btn-primary:hover{
    background-color: $hover;
    border-color: $hover;
}

p>label {
    width: $label_width;
    color: $disabled;
}

p>input{
    margin-left: $input_margin;
    width: $input_width;
    border: $input_border solid $secundario;
    border-radius: $input_border_radius;
}

p>select{
    margin-left: $input_margin;
    width: $input_width;
    border: $input_border solid $secundario;
    border-radius: $input_border_radius;
}

a {
    color: $primario;
}

a:hover{
    color: $secundario;
}
